In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import re
import urllib.request

In [5]:
df = pd.read_csv(r'C:\Users\alber\OneDrive\Documentos\GitHub\DS_ONLINE_THEBRIDGE_ATC\Masterclass\Kaggle\data\train.csv', index_col="laptop_ID")

In [6]:
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_in_euros
laptop_ID,,,,,,,,,,,,
755,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.86kg,539.00
618,Dell,Inspiron 7559,Gaming,15.6,Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,16GB,1TB HDD,Nvidia GeForce GTX 960<U+039C>,Windows 10,2.59kg,879.01
909,HP,ProBook 450,Notebook,15.6,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,Nvidia GeForce 930MX,Windows 10,2.04kg,900.00
2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
286,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2.0GHz,4GB,1TB HDD,AMD Radeon R5 M430,Linux,2.25kg,428.00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 912 entries, 755 to 229
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           912 non-null    object
 1   Product           912 non-null    object
 2   TypeName          912 non-null    object
 3   Inches            912 non-null    float64
 4   ScreenResolution  912 non-null    object
 5   Cpu               912 non-null    object
 6   Ram               912 non-null    object
 7   Memory            912 non-null    object
 8   Gpu               912 non-null    object
 9   OpSys             912 non-null    object
 10  Weight            912 non-null    object
 11  Price_in_euros    912 non-null    float64
dtypes: float64(2), object(10)
memory usage: 92.6+ KB

In [9]:
df.tail()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_in_euros
laptop_ID,,,,,,,,,,,,
28,Dell,Inspiron 5570,Notebook,15.6,Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,AMD Radeon 530,Windows 10,2.2kg,800.00
1160,HP,Spectre Pro,2 in 1 Convertible,13.3,Full HD / Touchscreen 1920x1080,Intel Core i5 6300U 2.4GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.48kg,1629.00
78,Lenovo,IdeaPad 320-15IKBN,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,2TB HDD,Intel HD Graphics 620,No OS,2.2kg,519.00
23,HP,255 G6,Notebook,15.6,1366x768,AMD E-Series E2-9000e 1.5GHz,4GB,500GB HDD,AMD Radeon R2,No OS,1.86kg,258.00
229,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,Windows 10,4.42kg,2456.34

In [13]:
df.describe()

           Inches  Price_in_euros
count  912.000000      912.000000
mean    14.981579     1111.724090
std      1.436719      687.959172
min     10.100000      174.000000
25%     14.000000      589.000000
50%     15.600000      978.000000
75%     15.600000     1483.942500
max     18.400000     6099.000000

In [14]:

# Procesamiento de datos
df["Ram"] = df["Ram"].str.replace("GB", "").astype(int)
df["Weight"] = df["Weight"].str.replace("kg", "").astype(float)

# Extraer información más detallada de la CPU
def extract_cpu_info(cpu):
    parts = cpu.split()
    if len(parts) > 2 and parts[0] == "Intel":
        return f"{parts[1]} {parts[2]}"
    return parts[0]

df["Cpu_Brand"] = df["Cpu"].apply(extract_cpu_info)

# Extraer resolución de pantalla
def extract_resolution(screen_res):
    match = re.search(r'(\d+)x(\d+)', str(screen_res))  # Asegurar que el valor sea string
    if match:
        return int(match.group(1)) * int(match.group(2))  # Multiplicar ancho x alto
    return np.nan  # Devolver NaN si no hay coincidencia
df["Resolution"] = df["ScreenResolution"].apply(extract_resolution)

# Separar memoria en SSD y HDD
def process_memory(mem):
    ssd, hdd = 0, 0
    for part in str(mem).split():
        if "SSD" in part:
            ssd = int(re.search(r'(\d+)', part).group(1)) if re.search(r'(\d+)', part) else 0
        elif "HDD" in part:
            hdd = int(re.search(r'(\d+)', part).group(1)) if re.search(r'(\d+)', part) else 0
    return pd.Series([ssd, hdd])
df[['SSD', 'HDD']] = df['Memory'].apply(process_memory)

# Codificar sistema operativo (Windows o no)
df['Windows'] = df['OpSys'].apply(lambda x: 1 if 'Windows' in str(x) else 0)

# Seleccionar características
X = df.drop(columns=["Price_in_euros", "Product", "Cpu", "OpSys", "Memory", "ScreenResolution"])
y = df["Price_in_euros"]

# Dividir en conjunto de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Identificar variables categóricas y numéricas
categorical_features = ["Company", "TypeName", "Gpu", "Cpu_Brand"]
numeric_features = ["Inches", "Ram", "Weight", "Resolution", "SSD", "HDD", "Windows"]

# Preprocesador
preprocessor = ColumnTransformer([
    ("num", StandardScaler(), numeric_features),
    ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features)
])

# Modelo con optimización de hiperparámetros
param_grid = {
    "regressor__n_estimators": [100, 200, 300],
    "regressor__max_depth": [10, 15, 20],
    "regressor__min_samples_split": [2, 4, 6],
    "regressor__min_samples_leaf": [1, 2, 4]
}

model = Pipeline([
    ("preprocessor", preprocessor),
    ("regressor", RandomForestRegressor(random_state=42))
])

search = GridSearchCV(model, param_grid, cv=3, scoring='neg_root_mean_squared_error', n_jobs=-1)
search.fit(X_train, y_train)

# Evaluar modelo
best_model = search.best_estimator_
y_pred = best_model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"Optimized RMSE: {rmse}")

Optimized RMSE: 380.38124196031555

In [15]:
# Cargar datos de prueba
X_pred = pd.read_csv(r'C:\Users\alber\OneDrive\Documentos\GitHub\DS_ONLINE_THEBRIDGE_ATC\Masterclass\Kaggle\data\test.csv', index_col="laptop_ID")

# Aplicar el mismo procesamiento
X_pred["Ram"] = X_pred["Ram"].str.replace("GB", "").astype(int)
X_pred["Weight"] = X_pred["Weight"].str.replace("kg", "").astype(float)
X_pred["Cpu_Brand"] = X_pred["Cpu"].apply(extract_cpu_info)
X_pred["Resolution"] = X_pred["ScreenResolution"].apply(extract_resolution)
X_pred[['SSD', 'HDD']] = X_pred['Memory'].apply(process_memory)
X_pred['Windows'] = X_pred['OpSys'].apply(lambda x: 1 if 'Windows' in str(x) else 0)

# Eliminar columnas innecesarias
X_pred = X_pred.drop(columns=["Product", "Cpu", "OpSys", "Memory", "ScreenResolution"])

# Hacer predicciones
predictions = best_model.predict(X_pred)

In [17]:
X_pred

,Company,TypeName,Inches,Ram,Gpu,Weight,Cpu_Brand,Resolution,SSD,HDD,Windows
laptop_ID,,,,,,,,,,,
209,Lenovo,Gaming,15.6,16,Nvidia GeForce GTX 1060,2.400,Core i7,2073600,0,0,0
1281,Acer,Notebook,15.6,4,Intel HD Graphics 400,2.400,Celeron Dual,1049088,0,0,0
1168,Lenovo,Notebook,15.6,4,Intel HD Graphics 520,1.900,Core i3,1049088,0,0,0
1231,Dell,2 in 1 Convertible,15.6,8,Intel HD Graphics 620,2.191,Core i5,2073600,0,0,1
1020,HP,Notebook,14.0,4,Intel HD Graphics 620,1.950,Core i5,2073600,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
820,MSI,Gaming,17.3,16,Nvidia GeForce GTX 1070,2.900,Core i7,2073600,0,0,1
948,Toshiba,Notebook,14.0,4,Intel HD Graphics 520,1.470,Core i5,2073600,0,0,1
483,Dell,Workstation,15.6,8,Nvidia Quadro M1200,1.780,Core i7,2073600,0,0,1
1017,HP,Notebook,14.0,4,Intel HD Graphics 620,1.640,Core i5,1049088,0,0,1
421,Asus,2 in 1 Convertible,13.3,8,Intel HD Graphics 620,1.270,Core i5,2073600,0,0,1

In [16]:
predictions

array([1598.71566852,  291.30766279,  424.81445556,  891.68823807,
        986.05248333,  430.2524797 ,  861.2394    , 1049.30637143,
       1062.47097245,  383.77586   , 2239.01507788, 1415.04606111,
        578.3443    , 1571.81468801,  705.5247    ,  691.44336667,
       2078.25103877, 1313.13997778, 1628.83576722,  668.95185556,
       1713.03507317,  406.55691794,  730.0661    , 1264.46271896,
        468.40885661,  768.48453298,  539.91163333,  756.05634444,
       3054.82755111, 1215.74383148, 2399.46726677,  464.37657735,
        710.15751667, 3187.54067833, 2007.11526099, 1485.38321118,
        751.04898333, 1484.42053233,  924.50919852, 1435.41301515,
        619.19189167,  806.42566667,  540.44434444, 1167.83034719,
       1391.348388  , 1022.40915106,  938.45336052,  674.89242487,
        582.83284667,  368.01019072, 1777.25131472,  820.54372183,
       1062.09900815,  665.532765  , 1977.72318333, 2091.74337111,
        615.22516667, 1029.065282  , 1040.68732838,  545.47392222,
       2205.6469555 , 1883.5459    ,  416.0316    , 2063.68749048,
       1126.86500984, 1399.40245001,  884.29960798, 1077.73942134,
       1968.33939723, 1980.82450739,  755.40239444,  392.50575758,
       1019.97413998, 1476.98      , 1129.63050718, 1286.80429075,
       1081.48771995, 1530.09056889, 2230.44934153, 1078.96184074,
       1013.14365238, 1107.59641431, 3502.04243333, 1710.0792431 ,
       1420.24034118, 1798.48015309,  563.66429802,  800.83458059,
        659.23123333, 1001.07697937,  540.14764365, 1848.70282259,
       1390.2079004 , 3484.36017   , 2710.97265317, 1454.37816021,
        721.27323333,  515.86097063,  876.93977333, 1042.21923111,
       1848.63975787,  714.19667056, 1589.97083889, 1218.94220079,
        255.48752946, 1510.93713934, 1975.56911212,  547.22831667,
        366.53481855, 1079.17581607, 1538.51092778,  744.55191111,
        666.48104762,  558.22189308, 1137.44880204,  735.4068    ,
        534.77378775, 1687.3566    , 1847.24141278, 1515.99793444,
        771.24506106,  751.223     , 1123.81407911, 1578.03133333,
       1616.3088937 ,  518.40675833, 1680.35974667, 1129.63050718,
        552.03566667,  981.01930556, 1731.60793491, 1539.98544444,
       1223.825914  , 3384.60575864,  783.67233333, 1945.47545334,
       1136.30805328, 1371.70222725, 1666.76234476,  730.01708889,
       1399.26101674,  612.22406308, 1353.9596    ,  999.44882639,
       1742.47458181, 1515.99793444, 1528.97019934,  875.57155659,
       1453.6116043 ,  947.44230781,  875.22485791,  899.3325104 ,
        497.76136667, 1062.47097245,  744.56009776,  908.56180719,
       1129.63050718,  962.60275767,  865.23233333,  370.50051461,
        478.1216    , 2082.06932389, 1215.5655786 ,  693.16603333,
       1035.193924  , 1217.36664333, 1842.25816508,  219.84366667,
        807.47464392,  945.21628667, 1387.35314704,  478.1216    ,
        347.44599283,  498.07420185, 2320.30015098,  665.9556    ,
       1129.63050718,  499.28733333, 1099.43304837, 1197.44881386,
        786.62723333, 5088.04402222, 1068.39793013, 1018.34238388,
       1242.87985556, 2106.95069723,  346.74613333,  876.2361    ,
       1448.25533333,  862.64910714,  501.08497762, 1749.09233445,
        524.31954444,  739.68613333,  573.6987    ,  313.19636357,
       1528.97019934,  936.76023777,  859.82161719,  269.90770905,
       1123.81407911, 2150.314967  , 1193.64202955,  638.22629444,
        701.81866667,  343.9602992 , 2161.62569478,  358.01177727,
       1348.33101143,  359.54106667, 1342.02241073,  893.77427643,
        743.46455556, 1059.8266494 ,  591.2543    , 1453.79077778,
       1134.92762912,  637.80483412,  705.34579333,  646.48223333,
        403.79008889, 1288.90333859, 1081.48771995, 1370.18241111,
        927.68740631, 1127.17904508,  268.80000597, 1052.43245865,
        710.36829167, 1779.76835463,  400.94868517,  454.72931111,
        962.60275767, 1385.49583556,  350.4543658 ,  875.57155659,
       3004.16224444,  934.96473243, 1149.10739395, 1217.28246754,
       2023.0591873 ,  578.30077778, 1021.05288148, 1378.59461571,
        883.84974933, 2074.39385438, 1236.91384127,  866.31374644,
        862.64910714, 1779.76835463, 1256.04641194,  574.08840222,
       1580.65254222,  943.0727262 , 1580.65254222, 2813.73324944,
        550.65626667,  361.92413351, 1205.20853333, 1057.06968524,
        424.64139111,  510.41242222, 1220.79826111,  507.57773333,
       2309.52736319, 2281.26071111, 1165.40996218,  340.51273988,
       1865.23035556, 1644.96857778,  390.01097556,  566.59705556,
       1042.71597986, 1345.47815934, 1684.3553477 , 1003.94329351,
        512.9516    ,  723.11773333, 1114.62960452,  457.78186716,
        527.52189048,  947.98203724, 1207.66880072,  525.47428889,
        361.01007284, 1054.68660868,  922.89446946, 1823.89470452,
       3187.54067833,  544.8983    , 1016.11366719, 1286.49257778,
       1440.5877    , 1095.05073845,  886.83597251, 1831.02024484,
       1350.76772833, 1218.94220079, 3411.51384286, 1408.66546389,
       1739.49483333,  556.48250119,  297.58959996,  507.57773333,
        638.32208889, 1415.34192667, 1764.43317593,  727.48475556,
       2029.03641455, 1343.10049111,  436.95284444,  834.46036667,
        564.43257778,  468.40885661,  896.08691204,  810.59103079,
       2821.8654    , 1209.30094444, 1044.51203989,  706.85283333,
       1618.60870952, 1081.29028714, 1070.0285542 , 1168.7544748 ,
       1429.56515   , 2024.91482   , 2025.57820626,  532.93226667,
        447.05197778, 1929.21231895,  357.21497395,  986.46452803,
       1533.12142762,  547.33612302,  489.57218032, 1042.21923111,
        561.94011111,  544.8983    , 1395.95440889, 1304.16741905,
        440.74918479,  622.26306185, 1618.23728333, 1508.9663961 ,
       2023.0591873 ,  803.85963515,  366.2797984 , 1286.80429075,
        645.73218095,  750.2203    , 1132.35537629,  959.31338557,
        656.36063333,  472.13907778,  581.44026944,  328.76778271,
       1838.18454762,  727.8477    , 1094.99364094, 1886.81486209,
        502.16409944,  713.58161607,  892.01949722, 1218.86130938,
       1242.92888646, 1554.17890972, 1663.60401587, 4221.84061111,
        639.37997778, 1927.19385556, 1933.08025933, 1694.48587295,
        613.5808    , 1536.54115   ,  895.65168692, 1960.81462876,
        527.52189048, 1139.29920342,  516.81063333,  730.07850667,
        404.07906261, 1076.01490113, 1424.1165    ,  358.01177727,
       1957.65090873, 1172.16214252, 2127.11359986,  990.85875583,
       2016.41841212,  945.36412083, 1240.18376667])

In [19]:
sample= pd.read_csv(r'C:\Users\alber\OneDrive\Documentos\GitHub\DS_ONLINE_THEBRIDGE_ATC\Masterclass\Kaggle\data\sample_submission.csv')

In [20]:
sample.head()

   laptop_ID  Price_in_euros
0        209          1949.1
1       1281           805.0
2       1168          1101.0
3       1231          1293.8
4       1020          1832.6

In [21]:
sample.shape

(391, 2)

In [22]:
submission = pd.DataFrame({"laptop_ID": X_pred.index, "Price_in_euros": predictions})

In [23]:
submission.head()

   laptop_ID  Price_in_euros
0        209     1598.715669
1       1281      291.307663
2       1168      424.814456
3       1231      891.688238
4       1020      986.052483

In [24]:
submission.shape

(391, 2)

In [27]:
def chequeador(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission5.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://www.mihaileric.com/static/evaluation-meme-e0a350f278a36346e6d46b139b1d0da0-ed51e.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto del TA: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `test.csv`. Lloro.")

In [28]:
chequeador(submission)

You're ready to submit!

NameError: name 'Image' is not defined