In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor
import re
import urllib.request

In [3]:
# Cargar datos
df = pd.read_csv(r'C:\Users\alber\OneDrive\Documentos\GitHub\DS_ONLINE_THEBRIDGE_ATC\Masterclass\Kaggle\data\train.csv', index_col="laptop_ID")

In [4]:
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_in_euros
laptop_ID,,,,,,,,,,,,
755,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.86kg,539.00
618,Dell,Inspiron 7559,Gaming,15.6,Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,16GB,1TB HDD,Nvidia GeForce GTX 960<U+039C>,Windows 10,2.59kg,879.01
909,HP,ProBook 450,Notebook,15.6,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,Nvidia GeForce 930MX,Windows 10,2.04kg,900.00
2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
286,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2.0GHz,4GB,1TB HDD,AMD Radeon R5 M430,Linux,2.25kg,428.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 912 entries, 755 to 229
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           912 non-null    object
 1   Product           912 non-null    object
 2   TypeName          912 non-null    object
 3   Inches            912 non-null    float64
 4   ScreenResolution  912 non-null    object
 5   Cpu               912 non-null    object
 6   Ram               912 non-null    object
 7   Memory            912 non-null    object
 8   Gpu               912 non-null    object
 9   OpSys             912 non-null    object
 10  Weight            912 non-null    object
 11  Price_in_euros    912 non-null    float64
dtypes: float64(2), object(10)
memory usage: 92.6+ KB

In [6]:
df.describe()

           Inches  Price_in_euros
count  912.000000      912.000000
mean    14.981579     1111.724090
std      1.436719      687.959172
min     10.100000      174.000000
25%     14.000000      589.000000
50%     15.600000      978.000000
75%     15.600000     1483.942500
max     18.400000     6099.000000

In [7]:
df.tail()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_in_euros
laptop_ID,,,,,,,,,,,,
28,Dell,Inspiron 5570,Notebook,15.6,Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,AMD Radeon 530,Windows 10,2.2kg,800.00
1160,HP,Spectre Pro,2 in 1 Convertible,13.3,Full HD / Touchscreen 1920x1080,Intel Core i5 6300U 2.4GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.48kg,1629.00
78,Lenovo,IdeaPad 320-15IKBN,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,2TB HDD,Intel HD Graphics 620,No OS,2.2kg,519.00
23,HP,255 G6,Notebook,15.6,1366x768,AMD E-Series E2-9000e 1.5GHz,4GB,500GB HDD,AMD Radeon R2,No OS,1.86kg,258.00
229,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,Windows 10,4.42kg,2456.34

In [8]:
# Procesamiento de datos
df["Ram"] = df["Ram"].astype(str).str.replace("GB", "").astype(int)
df["Weight"] = df["Weight"].astype(str).str.replace("kg", "").astype(float)
df["Cpu_Brand"] = df["Cpu"].astype(str).apply(lambda x: x.split()[0])

# Seleccionar características y variable objetivo
X = df.drop(columns=["Price_in_euros", "Product", "Cpu"])
y = df["Price_in_euros"]

# Dividir en conjunto de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Identificar variables categóricas y numéricas
categorical_features = ["Company", "TypeName", "ScreenResolution", "Gpu", "OpSys", "Cpu_Brand", "Memory"]
numeric_features = ["Inches", "Ram", "Weight"]

# Preprocesador
preprocessor = ColumnTransformer([
    ("num", StandardScaler(), numeric_features),
    ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features)
])

# Modelo base con ajuste de hiperparámetros
param_grid = {
    "regressor__n_estimators": [100, 200, 300],
    "regressor__max_depth": [10, 15, 20],
    "regressor__min_samples_split": [2, 4, 6]
}

pipeline = Pipeline([
    ("preprocessor", preprocessor),
    ("regressor", RandomForestRegressor(random_state=42))
])

# Búsqueda de mejores hiperparámetros
grid_search = GridSearchCV(pipeline, param_grid, cv=3, scoring="neg_root_mean_squared_error", verbose=1, n_jobs=-1)
grid_search.fit(X_train, y_train)

# Mejor modelo
best_model = grid_search.best_estimator_

# Evaluación
y_pred = best_model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"Mejor RMSE: {rmse}")

Fitting 3 folds for each of 27 candidates, totalling 81 fits
Mejor RMSE: 375.07330376137327

In [9]:
# Cargar conjunto de test y preprocesar
X_pred = pd.read_csv(r'C:\Users\alber\OneDrive\Documentos\GitHub\DS_ONLINE_THEBRIDGE_ATC\Masterclass\Kaggle\data\test.csv', index_col="laptop_ID")
X_pred["Ram"] = X_pred["Ram"].astype(str).str.replace("GB", "").astype(int)
X_pred["Weight"] = X_pred["Weight"].astype(str).str.replace("kg", "").astype(float)
X_pred["Cpu_Brand"] = X_pred["Cpu"].astype(str).apply(lambda x: x.split()[0])
X_pred = X_pred.drop(columns=["Product", "Cpu"])

# Predicciones en el conjunto de test
predictions = best_model.predict(X_pred)

In [10]:
predictions

array([1712.6988226 ,  304.13911138,  420.00632262, 1061.48777171,
        858.85081227,  509.43772843,  750.00430158,  993.6908052 ,
       1347.41740571,  384.04272466, 2280.78572045, 1513.86818158,
        586.76301792, 1609.43163014,  676.50739583,  548.20406757,
       2641.152935  , 1411.47530886, 1731.5125497 ,  572.41355363,
       1715.91562454,  405.7716805 ,  690.65111667, 1304.76450833,
        547.43529652,  734.32141509,  580.11564167,  630.59749982,
       2942.77445758, 1153.81473595, 2358.08084722,  455.92379208,
        674.2218    , 3216.2249    , 2023.36091061, 1509.7821704 ,
        546.35234251, 1518.46475536,  864.23397384, 1569.97671738,
        783.37537781,  918.3285    ,  554.39732024, 1251.61495353,
       1167.65813889, 1144.59142343, 1120.58498729,  678.19934516,
        715.45885942,  424.76101045, 1739.29128258,  734.56891121,
       1133.92797187,  621.45973429, 1710.98314136, 1717.15011985,
        656.49816915,  840.48966483, 1067.16242828,  629.47244694,
       2149.19633865, 1815.81915556,  510.90795626, 1976.36988591,
        983.01428457, 1021.66228494,  822.34065394, 1279.63924804,
       1858.06777205, 1952.37240268,  563.08950759,  522.56794599,
       1053.19183214, 1996.62625   , 1125.53697215, 1182.5319369 ,
       1654.51324083, 1757.05579224, 2221.29674286, 1432.87383598,
        969.40655833, 1638.38042104, 3124.2940229 , 1647.89825883,
       1413.87932398, 1832.50306797,  538.4175759 ,  908.9537621 ,
        783.05531601,  809.72677531,  627.16884646, 1823.06206507,
       1179.30475413, 3236.74568699, 2659.84536703, 1162.41346793,
        813.74450486,  599.14420116,  970.29164678,  976.67813947,
       1840.39484171,  740.62101727, 1284.89512087,  979.5006171 ,
        280.32243417, 1563.23593379, 2033.87162857,  572.77435417,
        371.35370038, 1016.77295036, 1513.86818158,  795.1240653 ,
        801.82884544,  627.91031704, 1072.32805489,  541.44580507,
        535.8897329 , 1425.72958682, 1812.90480504, 1369.04823247,
        916.81918808,  716.68963896, 1057.6186095 , 1542.13075492,
       1561.05050076,  471.86075   , 1564.64464645, 1061.65274052,
        544.69859761,  753.09751015, 1712.92967074, 1376.48268996,
       1254.62635938, 3076.0886186 ,  730.90808927, 1774.1444875 ,
       1262.10359328, 1448.36951385, 1536.0350287 ,  427.8988486 ,
       1450.74378164,  765.77460085, 1280.22404119,  979.48723333,
       1703.97038612, 1369.04823247, 1382.17154583,  946.79548865,
       1489.98674048,  938.12794333,  781.16161034,  786.95625204,
        531.49103583, 1317.06885692,  851.71857924,  842.65334922,
       1125.53697215, 1002.14525279,  756.89397254,  396.62379922,
        616.40690966, 1913.46119366, 1318.99073925,  736.01349764,
       1116.69632191, 1160.36598778, 2007.30677188,  226.375     ,
        851.19713123, 1011.14336382, 1299.51504833,  533.91650492,
        347.84346004,  616.73890447, 2285.50387619,  644.01338209,
       1099.86970048,  490.8527563 , 1081.19194869, 1209.91797019,
        483.76709327, 4867.0784    , 1079.80651825,  827.98755909,
       1203.17493411, 1922.81073669,  526.35857119,  894.56837452,
       1490.04794186,  957.44642248,  674.96231241, 1773.98661463,
        586.03645   ,  675.50632871,  625.66832859,  453.38666025,
       1202.30647257,  991.09658981,  726.96736765,  321.04075938,
       1057.6186095 , 2154.91727015,  957.62583949,  665.36065184,
        494.73443609,  422.16770661, 2069.05473712,  361.14865427,
       1771.93786667,  427.20965952, 1398.82263448,  738.66375604,
        585.44332904,  960.05058968,  569.59568333, 1506.81018563,
       1192.00830491,  669.48207083,  693.37371111,  710.07732778,
        529.42962611, 1287.71928966, 1002.38026401, 1408.26410595,
        692.62243833, 1101.38367298,  319.69145152, 1144.59142343,
        694.36839459, 1739.40116981,  468.26268733,  477.27519444,
       1012.93234282, 1422.20265521,  371.55719191,  946.79548865,
       3073.75258   ,  979.5006171 , 1101.65865356, 1367.49077612,
       1668.33074318,  438.56487188, 1029.7178457 , 1178.85926917,
        902.93440112, 2073.90811123, 1000.5327    ,  925.56159518,
        949.58191532, 1804.28351759, 1153.90620083,  643.7350082 ,
       1604.21502731, 1020.0714385 , 1604.21502731, 2732.72934286,
        711.73183468,  392.03467808, 1210.7258225 ,  967.76385199,
        496.40255119,  471.42503527, 1195.90466667,  499.62515742,
       2308.80417545, 2666.93492348, 1195.825605  ,  345.39823762,
       1924.108075  , 1312.58926649,  620.48391105,  503.13771094,
       1055.9048587 , 1379.15238   , 1677.07411788,  829.52242345,
        555.54497987,  767.28211654, 1075.86281079,  524.24670103,
        666.76723541, 1009.53222536, 1325.55411343,  539.1879465 ,
        455.72130079, 1108.81547614, 1110.38737177, 1884.11121997,
       3294.53471667,  581.5640077 , 1025.48654644, 1451.1005288 ,
       1606.00854234, 1262.58231104, 1061.43130504, 1586.97163165,
       1305.90056816,  927.31014167, 2962.2334859 , 1324.12639761,
       1602.3637632 ,  560.04453429,  381.42600263,  514.8929825 ,
        842.40755387, 1490.4268457 , 1679.93143333,  843.77455785,
       2001.73005972, 1397.70333522,  433.08337829,  834.24542944,
        466.95415961,  476.57903419,  874.20046672,  870.82975634,
       2736.87155   , 1093.29791667,  984.13567029,  689.77672778,
       1506.81018563,  925.75407774, 1151.0881451 , 1149.45230835,
       1389.38395424, 1992.34406743, 1957.7544598 ,  606.42475   ,
        444.60642329, 2297.1716    ,  443.32477107,  991.09658981,
       1490.4268457 ,  728.70688189,  487.92831828,  955.61131416,
        540.37812366,  581.5640077 , 1549.02121064, 1038.2245    ,
        491.8015964 ,  624.6306448 , 1975.24703333, 1547.11573885,
       1668.33074318,  807.96257466,  373.24145106, 1169.56975635,
        627.88685   ,  563.21540082, 1158.61972825,  994.97200495,
        697.47420643,  497.36981051,  743.59083582,  344.58580616,
       1857.01048205,  700.35202615,  984.14547607, 1880.37322733,
        482.8834772 ,  691.67926657,  857.22600397, 1157.15684818,
       1275.34618065, 1481.19948083, 1569.97671738, 4032.06816667,
        911.51984156, 1941.54799028, 1908.26720883, 1771.21853697,
        501.37348147, 1421.10009606,  898.55909083, 1947.03212594,
        666.76723541,  906.83978627,  608.62281083,  664.07132284,
        443.29876583, 1010.00989384, 1694.89250333,  365.69117601,
       1656.71388559, 1019.4471377 , 2174.42745556,  909.73445197,
       1833.24589107,  911.51984156, 1280.97129503])

In [11]:
sample = pd.DataFrame({"laptop_ID": X_pred.index, "Price_in_euros": predictions})

In [12]:
sample.head()

   laptop_ID  Price_in_euros
0        209     1712.698823
1       1281      304.139111
2       1168      420.006323
3       1231     1061.487772
4       1020      858.850812

In [13]:
sample.shape

(391, 2)

In [14]:
submission = pd.DataFrame({"laptop_ID": X_pred.index, "Price_in_euros": predictions})

In [15]:
submission.head()

   laptop_ID  Price_in_euros
0        209     1712.698823
1       1281      304.139111
2       1168      420.006323
3       1231     1061.487772
4       1020      858.850812

In [16]:
submission.shape

(391, 2)

In [17]:
def chequeador(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission4.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://www.mihaileric.com/static/evaluation-meme-e0a350f278a36346e6d46b139b1d0da0-ed51e.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto del TA: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `test.csv`. Lloro.")

In [18]:
chequeador(submission)

You're ready to submit!

NameError: name 'Image' is not defined